.CommitsPage {
  &__content {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-top: 40px;
    min-height: calc(100vh - 600px);
    box-shadow: 0 0 15px 0 rgba(#CAD3C8, 0.2);
  }

  &__repo {
    &-infos {
      margin-top: 20px;
      text-align: center;
    }
    &-name {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 1.8rem;
      opacity: 0.7;
    }
    &-description {
      font-size: 0.8rem;
      font-weight: 300;
      line-height: 1.6;
    }
  }
}
