.PageContent {
  min-height: calc(100% - 80px);

  &__wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
  }
}

@media(max-width: 520px) {
  .PageContent {
    &__wrapper {
      padding: 10px;
    }
  }
}
