.pageContent {
  min-height: calc(100% - 80px);
}
.wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
}

@media(max-width: 520px) {
  .wrapper {
    padding: 10px;
  }
}
