.content {
  margin-top: 40px;
  min-height: calc(100vh - 400px);
}
.instruction {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 100;
  text-align: center;
}
.input[type=text] {
  font-size: 1.5rem;
  font-weight: 700;
  border: 0;
  margin: 29px 0;
  padding: 40px 30px;
  text-align: center;

  &::placeholder {
    opacity: .5;
  }
}
.loadButton {
  width: 100%;
  text-transform: uppercase;
}
